@import url('https://fonts.googleapis.com/css?family=Poiret+One');

body {
	background-color: #29cbd1;
	margin: 0;
}

.container {
	width: 100%;
	height: 100vh;
}

h1 {
	font-family: 'Poiret One', cursive;
	padding-top: 20%;
	text-align: center;
	color: white;
	font-size: 50px;
	letter-spacing: 3px;
}